.input-zip-code
    max-width: 80%
    i  
        color: $purple
        font-size: 150%

.select-campus
    border-radius: $radius
    background-color: rgba($purple, 0.8)
    border: 1px solid $gold
    color: $white
    option
        background-color: rgba($purple, 0.4)
        color: $lime-green
        padding: 1rem

.btn-search
    border-radius: $radius
    background-color: rgba($magenta, 0.75)
    border: 1px solid $gold
    color: $gold
    &:hover
        border: 2px solid rgba($white, 0.5)

    
