@import _variables

body 
    font-family: $roboto

.mask
    @include bgimage (map)
    height: 100vh

.container-login
    background-color: rgba($dark, 0.80)
    position: fixed
    height: 100vh

.box
    i 
        color: $gold

.box-welcome
    background-color: rgba($white, 0.85)
    border-radius: $radius

.hr-light
    color: $gold

.welcome-text, .know-journey
    color: $navy

.text-description
    color: $navy
    font-size: 18px
    font-weight: 400

.text-city
    font-size: 18px

.box-weather
    .fa-thermometer-half
        color: $gold

@media (max-width: 740px)
    .container-fluid
        height: auto
    .mask
        height: auto
    .box
        margin-top: 0
    .box-description
        margin-top: 5rem