.profile
    margin-top: 2rem
    .box-profile
        color: $purple
        .user-photo
            border-radius: $radius-circule
            border: 1px solid $magenta
            max-width: 30%

.logout-button
    border-radius: $radius
    background-color: rgba($magenta, 0.75)
    border: 1px solid $gold
    color: $gold

@media (max-width: 740px)
    .user-photo
        border-radius: $radius-circule
        border: 1px solid $dark
        max-width: 50%
