/* Colors */
$magenta: #d0006f //more pink
$lime-green: #c4d600
$light-blue: #68d2df
$platinum: #9db0ac
$navy: #003865
$purple: #3c1053
$graphite: #3c4242
$mulberry: #830051 //more purple
$gold: #f0ab00
$dark: #000000
$white: #ffffff

/*Fonts*/
$roboto: Roboto, Sans-serif

/*Radius*/
$radius: 5px
$radius-circule: 50%

/*BG-IMG function*/
@mixin bgimage ($img)
    $url:"../assets/images/#{$img}.jpg"
    background-image: url($url)
    background-repeat: no-repeat
    background-size: cover
    background-position: center


    

    